<ng-content></ng-content>
<div *ngIf="isOpen" #contextMenuDropDown class="dropdown-menu" data-qe-id="cm-dropdown">
  <div class="card-header">{{ menuTitle || menuConfigId || 'Menu' }}</div>
  <a class="dropdown-item" *ngFor="let predefinedItem of predefinedItems"
    data-qe-id="cm-predefined-item"
    (click)="onPredefinedItemClicked($event, predefinedItem.event)">{{ predefinedItem.label }}</a>
  <div *ngIf="dynamicMenuItems.length" class="dropdown-divider"></div>
  <a *ngFor="let dynamicItem of dynamicMenuItems" class="dropdown-item"
    data-qe-id="cm-dynamic-item"
    (click)="onDynamicItemClicked($event, dynamicItem.urlPattern)" >{{ dynamicItem.label }}</a>
</div>
<div *ngIf="isOpen" #clickOutsideCanvas class="transparent viewport-sized" data-qe-id="cm-outside"></div>